{% extends './base.html' %}

{% block content %}
  <div class='index image-container'>
    {% for post in image_posts %}
      <a href="{% url 'image_post:detail' post.id %}" class='image-post' onmouseover="toggleOverlay(this)" onmouseout="toggleOverlay(this)">
        <img class='image-post-img' src="{{post.image.url}}" alt='post'/>
        <div class='image-post-overlay'>
          <div class='text-wrapper hide'>
            <span class='image-post-votes'>{{ post.votes }}</span>
            <span>
              <h2 class='image-post-title'>{{ post.title }}</h2>
              <p class='image-post-desc'>{{ post.description }}</p>
            </span>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  <script>
    function toggleOverlay(element) {
      element.children[1].children[0].classList.toggle('hide')
    }
  </script>
{% endblock content %}
